<div>
  <nav class="navbar navbar-expand-md navbar-dark bg-primary fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#"><i class="bi bi-pencil-square"></i> Todo App</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
              aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>


      <div class="collapse navbar-collapse" id="navbarNav">

        <ul class="navbar-nav ms-auto">
          {% if user %}
          <li class="nav-item active">
            <a class="nav-link" onclick="logout()">Logout</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>
</div>